apiVersion: v1
kind: Service
metadata:
  name: nginx-custom
  namespace: default
spec:
  selector:
    app: nginx-custom
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
